.searchResults img {
  height: 300px;
  width: 365px;
  padding: 5px;
  border: solid black 0.5px;
  margin: 10px;
  background-color: blue;
}

.button {
  /*text-align: center;*/
  font-weight: 600;
  width: 50%;
  float: right;
  margin-left: -50px;
  display: inline-block;
}

.searchTerm {
  position: relative;
  width: 50%;
  margin: 1em;
}

.heading {
  text-align: center;
  color: blue;
  font-family: Monospace;
}

/*#colorStrip {
  border-color: black;
  border-style: solid;
  width: 100%;
  height: 2px;
  margin: 5px;
}*/
