.image {
  text-align: center;
  padding: 1em;
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
  color: red;
}

.form {
  color: red;
  background-color: red;
}

body {
  color: red;
}
